{% extends "base.html" %}

{% block body%}
	<div class="container-fluid">
		<div class ="container-fluid">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>404</h1>
					<h2> Oops - the site is freeeeeeeeeee </h2>				
				</div>
			</div>
		</div>
		<div class = "container-fluid">
			<div class="row">
				<div class="col-xs-12 text-center">
					<p>(Re-Enactment)<p>
				</div>
			</div>
		</div>
		<div class ="container-fluid">
			<div class="row">
				<div class = "col-md-3 hidden-sm" ></div>
				<div class="col-xs-6 col-md-3">
					<img src="{{cdn_environment}}/images/balrog-super2.gif" />
				</div>
				<div id="freee" class="col-xs-6 col-md-3">
					<h2>The Website</h2>
				</div>
				<div class = "col-md-3 hidden-sm"></div>
			</div>
		</div>
	</div>
{% endblock %}