{% extends "base.html" %}

{% macro findPadding(streamLength) -%}
	{% if streamLength == 1 %}
		<div class = "col-md-5 hidden-sm"></div>
	{% elif streamLength == 2 %}
		<div class = "col-md-4 hidden-sm"></div>
	{% elif streamLength == 3 %}
		<div class = "col-md-3 hidden-sm"></div>
	{% else %}
		<div class = "col-md-2 hidden-sm"></div>
	{% endif %}	

{%- endmacro %}


{% block navbar %}
	{%for stream_category in streams %}
			<li><a href="#" class = "site_modify_link" data-target="{{stream_category}}">{{stream_category}}</a></li>	
    {% endfor %}

{% endblock %}

{% block body %}
<div class = "container-fluid">
	
	<div class = "container-fluid">
		<div class="row">			
			<div class = "col-md-1 col-lg-1 hidden-sm">
			</div>

			<div class = "col-sm-5 col-md-4 col-lg-5">				
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id = "donate_button">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="APT37CZQL9XMU">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">			
				</form>		
				- Help keep this site ad-free!
			</div>
			

			<div class="col-sm-7 col-md-6 col-lg-6 text-right">
				Last Updated: {{ updated }} - Streams Update Every 10 Minutes.				
			</div>	

			<div class="col-md-1 hidden-sm">
			</div>		

		</div>
	</div>

	<div class = "container-fluid">
		<div class="row">		
			{%for stream_category in streams %}			
				<div data-id = "{{stream_category}}" class = "container-fluid category_container">
					<div class = "container-fluid">
						<div class = "col-md-12 text-center">
							<h1>{{stream_category}}</h1>
						</div>
					</div>																								
					<div class = "container-fluid stream_container center-block">						
						{{ findPadding(streams[stream_category]|length) }}
						{% for stream in streams[stream_category] %}						
							<div class = "col-xs-6 col-sm-5 col-md-2 stream_window thumbnail" data-status="">
								<div class = "caption">
									<a href="{{stream.url}}">								
									<img src="{{stream.preview_location}}" class = "img-responsive stream_preview" alt="Stream Picture"/>							
									</a>
									<em><h5 class="text-center">{{stream.status}}</h5></em>
							        <b><p class = "text-center">{{ stream.channel_name }}</p></b>
							        <p class="text-center">Viewers: {{ stream.viewers }}</p>						        							        
							    </div>
							</div>																	
						{% endfor %}
						{{ findPadding(streams[stream_category]|length) }}
					
					</div>
				</div>			
			{% endfor %}				
		</div>
	</div>
</div>
{% endblock %}