{% extends "base.html" %}

{% block title %} Fight.Watch - Stats
{% endblock%}

{% block overwrite_navbar %}        
    <li class="active"><a class = "site_modify_link" href="/">Main Page</a>    
{% endblock %}


{% block body %}


NLBC Top 15 Sets Played:
    pie smug: 130
    lazyone: 121
    TheSteamCo. Sanford Kelly: 103
    ex plague: 107    
    mastermikee21: 92
    mike klitschko: 82
    shine: 78
    ts sabin: 75
    pie zeus: 90
    steve s.: 70
    tinshi: 65
    rlbs: 64    
    pie poem: 59
    Glitch: 58
    qcb klitschko: 42
    
{% endblock %}

