{% extends "base.html" %}

{% block title %} Fight.Watch - Stats {% endblock%}

{% block overwrite_navbar %}        
    <li class="active"><a href="/">Main Page</a>
    <li><a href="/">Overall Totals</a>
    <li><a href="/stats/fighter">Totals by Fighter</a>
    <li><a href="/">Match History</a>
    <li><a href="/">Tournament History</a>   
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% block stats %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

